.navigation {
  @extend %cover;

  color: $color-white;
  pointer-events: none;
  position: fixed;
  z-index: z("navigation");
}

.navigation__link {
  position: absolute;
  left: 4rem;
  top: 4rem;
  height: 2rem;
  width: 12.8rem;
  font-size: 0;
  pointer-events: auto;
  transition: opacity 0.4s ease;

  &:hover {
    opacity: 0.5;
  }

  @include media("<phone") {
    left: 5rem;
    top: 5rem;
    height: 4.3rem;
    width: 27.9rem;
  }
}

.navigation__link__icon {
  display: block;
}

.navigation__list {
}

.navigation__list__item {
  position: absolute;
  right: 4rem;
  top: 4rem;
  pointer-events: auto;

  @include media("<phone") {
    right: 5rem;
    top: 5rem;
  }
}

.navigation__list__link {
  @extend %link--hidden;
  @extend %title-20;

  line-height: 1;
  display: block;
}
