.about__gallery {
  position: relative;
  height: 58.6rem;
  overflow: hidden;
  margin: 20rem 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.about__gallery__wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
}

.about__gallery__media {
  height: 43.7rem;
  width: 31rem;
  position: relative;
  margin: 0.25rem;
}

.about__gallery__media__image {
  @extend %cover;
  object-fit: cover;
}
